NEXT_PUBLIC_WALLET_CONNECT_PROJECT_ID=""
NEXT_PUBLIC_SITE_URL=""
NEXT_PUBLIC_SUPABASE_URL="https://rkabjupwrmluxcdwjght.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJrYWJqdXB3cm1sdXhjZHdqZ2h0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3MzQ0MzIzMzEsImV4cCI6MjA1MDAwODMzMX0.4K89Xyx-oyXH-jPk-Sjo5EfVNkcohDegfS-s251c_JQ"